doctype html

html(lang="en")
  head
    title NY Cement Tile
    meta(charset="utf-8")
    meta(name="language" content="english")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="author" content="Dor Rondel")
    link(rel="stylesheet" type="text/css" href="./main.css")
    link(href="https://fonts.googleapis.com/css?family=Secular+One|Ubuntu" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css")
  body
    header 
      span.new Some 
      span.york Cool 
      span.cement New
      span.tile  Company
    div.background
      main
        div.box
          div.logo2
            span.new Some 
            span.york Cool 
            span.cement New
            span.tile  Company
          ul
            li.first 
              i(class="fa fa-exclamation-circle att" aria-hidden="true")
            li.first
              h1 This site is currently under construction
          ul
            li
              h3 Please check back soon &nbsp;
            li
              i(class="fa fa-smile-o smile" aria-hidden="true")
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/jquery-ui/jquery-ui.min.js")
    script(src="./main.js")

        
