doctype html
html(lang="en")
  head
    title Hex Color Clock
    meta(charset = "utf-8")
    meta(name="description" content="Clock with constantly alternating background color for hex code")
    meta(name="keywords" content="Hexadecimal, colors, clock")
    meta(name="author" content="Dor Rondel")
    meta(name="language" content="english")
    link(rel="stylesheet" type="text/css" href="./clock.css")
  body
    main
      h1.clock Clock!     
    script(type="text/javascript" src="./clock.js")
