body
  background-color rgb(198, 195, 251)

h1
  color rgb(116, 189, 144)
  text-align center
  font-family "Herculanum"
  font-size 3.5em
  margin-top 3.8em

.instructions
  margin-left 30%
  line-height 25px
  font-family "Menlo"

#boxes
  list-style-type none
  text-align center
  margin-top 2.5em

li
  display inline
  margin-left 1em

h2
  text-align center
  font-family "Papyrus"
  color rgb(116, 189, 144)
